

.dropdown__content.input-dropdown {
    border-top: none;
    width: calc(100% - 2px);

    & > .__empty-message {
        font-size: $s-font-size;
        color: gray;
        text-align: center;
        padding: 4px;
    }

    & > .__divider {
        font-size: $s-font-size;
        color: gray;
        padding: 4px;

        &:not(:first-child) {
            padding-top: 16px;
        }
    }
}