.input-container {
  border: $border;
  display: flex;
  color: $darkest;
  align-items: center;

  &.--inline {
    display: inline-flex;
    border: 0;
    border-bottom: $border;
    margin: 0 $s-size;

    & > .__input {
      padding: $xs-size 0;
    }

    & > .__icon {
      padding: 0;
    }

    &.--with-icon {

      // TO DO - this creates a possible bug where the icon sits on top of the input value, fix that
      // & > .__icon {
      //   margin-left: -$font-size;
      // }

    }
  }

  &.--disabled {
    cursor: default;
    border-color: $neutral;
    color: $neutral;
    fill: $neutral;
  }

  & > .__input,
  & > .__text-area {
    flex: 1;
    min-width: 0;
    align-self: stretch;
  }

  & > .__icon {
    flex: 0 0 auto;
  }

  &.--read-only > .__input, 
  &.--read-only > .__text-area {
    cursor: default;
  }

  // &.--auto-size > .__input {
  //   flex: 0 0 auto;
  // }

}