

.input-container {
  display: flex;
  color: $darkest;
  align-items: center;
  width: 150px;
  position: relative;
  border: $border;

  &.dropdown {
     display: inline-flex;
  }

  .--chained {
    border: none;
  }

  &.--select-one,
  &.--date,
  &.--select-many {
    .input-trigger {
      color: $darkest;
      display: flex;
      align-items: center;
    }
  }

  &.--toggle {
    border: none;
    cursor: pointer;
    user-select: none;

    & > .__switch-container {

      height: 20px;
      width: 23px;
      display: flex;
      align-items: center;
      position: relative;

      & > .__line {
        height: 1px;
        background: $neutral;
        width: 100%;
      }
  
      & > .__switch {
        position: absolute;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background: $light-1;
        // border: $border;
        left: 0;
        transition: 
          left ease-out 200ms,
          background ease-out 200ms
        ;
      }
    }

    & > .__label {
      margin-left: $m-size;
    }

    
    &.--active > .__switch-container {
      & > .__switch {
        background: $darkest;
        left: calc(100% - 13px);
      }    
      & > .__line {
        background: $darkest;
      }
    }

  }

  &.--inline {
    display: inline-flex;
    border: 0;
    border-bottom: $border;
    margin: 0 $s-size;

    ._input {
      padding: $xs-size 0;
    }

    ._icon {
      padding: 0;
    }

    &.--with-icon {

      // TO DO - this creates a possible bug where the icon sits on top of the input value, fix that
      // ._icon {
      //   margin-left: -$font-size;
      // }

    }
  }

  &.--read-only {
    cursor: default;
  }

  &.--disabled,
  &.--disabled.--select-one .input-trigger,
  &.--disabled.--date .input-trigger,
  &.--disabled.--select-many .input-trigger {
    cursor: default;
    border-color: $neutral;
    color: $neutral;
    fill: $neutral;
  }


  ._input,
  ._input-value,
  ._text-area {
    flex: 1;
    min-width: 0;
    align-self: stretch;
    font-size: $font-size;
  }

  ._input-value {
    cursor: pointer;
    padding: $xs-size 0 $xs-size $s-size;
    white-space: nowrap;
  }

  &.--select-many ._input-value {
    display: flex;
    flex-flow: row wrap;

    ._input {
      padding: 0;
    }

    & > .__inner-value {
      margin-right: $s-size;

      &.--clearable {
        cursor: pointer;

        &:hover {
          color: $neutral;
        }
      }
    }
  }

  ._icon {
    flex: 0 0 auto;
  }

  &.--read-only ._input, 
  &.--read-only ._icon, 
  &.--disabled ._input-value, 
  &.--read-only ._input-value, 
  &.--read-only ._input-value, 
  &.--read-only ._text-area,
  &.--read-only.--select-one .input-trigger,
  &.--read-only.--date .input-trigger,
  &.--read-only.--select-many .input-trigger {
    cursor: default;
    user-select: text;
  }

  &.--chained {
    width: initial;

    &.--trigger {
      cursor: pointer;
      user-select: none;
    }

    & > .__value {
      display: flex;
      color: $darkest;
      align-items: center;
      border: $border;
      padding: $xs-size $s-size;
      &:not(:last-child) {
        margin-right: $xs-size;
      }
    }
  }

}
