.dropdown__content.input-dropdown {
    border-top: none;
    width: 100%;
    margin-left: -1px;

    & > .__empty-message {
        font-size: $s-font-size;
        color: gray;
        text-align: center;
        padding: 4px;
    }

    & > .__create-option {
        padding: 4px;
    }

    & > .__divider {
        font-size: $s-font-size;
        color: gray;
        padding: 4px;

        &:not(:first-child) {
            padding-top: 16px;
        }
    }
}