

.input-container {
  border: $border;
  display: flex;
  color: $darkest;
  align-items: center;
  width: 150px;

  &.--select-one {
    .input-trigger {
      color: $darkest;
      display: flex;
      align-items: center;
    }
  }

  &.--inline {
    display: inline-flex;
    border: 0;
    border-bottom: $border;
    margin: 0 $s-size;

    ._input {
      padding: $xs-size 0;
    }

    ._icon {
      padding: 0;
    }

    &.--with-icon {

      // TO DO - this creates a possible bug where the icon sits on top of the input value, fix that
      // ._icon {
      //   margin-left: -$font-size;
      // }

    }
  }

  &.--read-only {
    cursor: default;
  }

  &.--disabled,
  &.--disabled.--select-one .input-trigger {
    cursor: default;
    border-color: $neutral;
    color: $neutral;
    fill: $neutral;
  }


  ._input,
  ._input-value,
  ._text-area {
    flex: 1;
    min-width: 0;
    align-self: stretch;
    font-size: $font-size;
  }

  ._input-value {
    cursor: pointer;
    padding: $xs-size 0 $xs-size $s-size;
    white-space: nowrap;
  }

  ._icon {
    flex: 0 0 auto;
  }

  &.--read-only ._input, 
  &.--read-only ._icon, 
  &.--disabled ._input-value, 
  &.--read-only ._input-value, 
  &.--read-only ._input-value, 
  &.--read-only ._text-area,
  &.--read-only.--select-one .input-trigger {
    cursor: default;
    user-select: text;
  }

}
