$lightest: white;
$light-1: lightgray;
$neutral: gray;
$darkest: black;

$border: 1px solid $darkest;

$xs-size: 3px;
$s-size: 5px;
$m-size: 9px;

$input-container-width: 150px;
$xs-font-size: 11px;
$s-font-size: 14px;
$font-size: 16px;